<h1 class="mt-3 mb-4 ml-3">This is our lovely Team</h1>
<p class="lead mt-3 mb-4 ml-3">Discover why we are full of awesomeness 😇❤️</p>

<section class="container">
<h2 class="text-center mt-4 mb-4">Get to know more about us:</h2>
<div  class="card-deck mb-3 d-flex justify-content-between">
    <div class="col-sm-6 mt-4 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1505937059382-aab581fd88c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60" class="card-img-top" alt="Surfing woman">
          <div class="card-body">
            <h5 class="card-title">Charlotte Favier</h5>
            <p class="card-text">Surfing's not a sport. It's a way of life, it's no hobby. It's a way of looking at that wave and saying "Hey bud, let's party!".</p>
          </div>
        </div>
      </div>
    <div class="col-sm-6 mt-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1562859921-e39df05c2d9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60" class="card-img-top" alt="Surf van">
        <div class="card-body">
          <h5 class="card-title">Bénédicte Diumula</h5>
          <p class="card-text">Grâce à THP, je fais le tour du monde avec mon van et je fais du code ! Si l'expérience étaità refaire, je le referais mille fois.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1564769662533-4f00a87b4056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2914&q=80" class="card-img-top" alt="Surf van">
      <div class="card-body">
        <h5 class="card-title">Estelle Recuero</h5>
        <p class="card-text">Chuck Norris doesn't need a debugger, he just stares down the bug until the code confesses.</p>
      </div>
    </div>
  </div>
</div>
</section>